<%= simple_form_for(@record) do |f| %>
  <%= f.input :title %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :added_by, input_html: { maxlength: 20,  value: current_user.email, readonly: 'readonly' } %>
  <%= f.input :created_date %>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
