<h1>Listing records</h1>
<div class='results'>
<table data-initialized="false">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Added By</th>
      <th>Created date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.title %></td>
        <td><%= record.category %></td>
        <td><%= record.description %></td>
        <td><%= record.added_by %></td>
        <td><%= record.created_date %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<div class='results'>

<div class='functions'>
 <%= form_tag(records_path, method: 'get') do %>
<ul> 
<li><%= link_to 'New Record', new_record_path %></li>
<li class="highlight search"><%= text_field_tag :search, params[:search], placeholder: 'Search Records', type: :search, style: 'width: 250px' %></li>
<li><%= submit_tag "Search", :name => nil %> &nbsp; </li>
</ul>
<% end %> 
</div>
<script>
$(document).ready(function(){
    var $table = $('.results table');
    if ($table && $table.length && (typeof $table.attr('data-initialized') !== 'string' || $table.attr('data-initialized') === 'false')){
        $('.results table').attr('data-initialized','true').dataTable({
         "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [ 5,6,7 ] }
            ]
        });
    }
});

</script>

