
<div class="record">
<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @record.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @record.created_date %>
</p>
</div>
<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
