.alert, .notice{
position: absolute;
top: 20px;
left: 12px;
font-weight: bold;
font-size: 1em;
}

.notice{
color:#E60000;
text-shadow: 0.1em 0.2em 0.2em #5F5F5F;
}

.alert{
color:#E60000;
text-shadow: 0.2em 0.3em 0.3em #5F4D4D;
}

.current_user{
position: absolute;
width: 100%;
left: 0;
top: 0;
text-align:right;
padding-top: 2px;
}
.current_user span{
margin-right:10px;
}