// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.functions{
margin-top: 20px;
border: 1px solid lightgrey;
padding: 4px 2px;
}

.functions ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.functions li { 
    display: inline; 
    margin-left: 6px;
}
.functions li.search{
    margin-left: 12px;
}

.functions li.highlight:hover { 
    box-shadow: 0.2em 0.2em 0.4em #B8B8B8;

}

h1{
margin-top: 25px;
width: 100%;
line-height: 40px;
box-shadow: 1px 1px 3px #5C5C5C;
margin-bottom: 5%;
border-radius: 8px;
text-align: center;
text-shadow: 0.1em 0.1em 0.3em #484848;
}

.results .dataTables_wrapper{
width: 75%;
margin-left: auto;
margin-right: auto;
}

.results .functions{
padding-left: 12%;
}

form.new_record, .record{
width: 40%;
min-width: 350px;
margin-left: auto;
margin-right: auto;
box-shadow: 1px 1px 3px #5C5C5C;
margin-bottom: 10px;
border-radius: 8px;
padding: 10px 6px;
}

.record{
margin-top: 10%;
}

form.new_record .input{
margin-bottom: 4px;
position: relative;
width: 100%;
}

form.new_record .input label{
display: inline-block;
width: 35%;
min-width: 170px;
text-align: left;
padding-left: 10px;

}

form.new_record .input label.text{
line-height: 30px;
}

form.new_record abbr{
border-bottom: none;
color: red;
}

form.new_record .input.field_with_errors{
height: 30px;
}


form.new_record .input input, form.new_record  .input textarea{
margin-left: 20px;
width: 40%;
}

form.new_record .input input[disabled="disabled"]{
color: #000000;
cursor: not-allowed;
}

form.new_record .actions input[type="submit"]{
margin-left: 8px;
}

form.new_record .input span.error{
position: absolute;
top: 18px;
left: 70px;
font-size: 0.7em;
font-weight: bold;
}
