h2{
margin-top: 25px;
width: 100%;
line-height: 40px;
box-shadow: 1px 1px 3px #5C5C5C;
margin-bottom: 5%;
border-radius: 8px;
text-align: center;
text-shadow: 0.1em 0.1em 0.3em #484848;
}

#new_user, .link_wrap{
width: 40%;
min-width: 350px;
margin-left: auto;
margin-right: auto;
box-shadow: 1px 1px 3px #5C5C5C;
margin-bottom: 10px;
border-radius: 8px;
}

#new_user{
padding: 10px 6px;
}

.link_wrap{
padding: 4px 6px;
background: #D6D6D6;
}

#new_user .input{
margin-bottom: 4px;
position: relative;
width: 100%;
}

#new_user .input.field_with_errors{
height: 30px;
}

#new_user abbr{
border-bottom: none;
color: red;
}

#new_user .input label{
display: inline-block;
width: 35%;
min-width: 170px;
text-align: left;
padding-left: 10px;

}

#new_user .input input{
margin-left: 20px;
width: 40%;
}

#new_user .form-actions{
margin-top: 10px;
}

#new_user .form-actions input[type="submit"]{
margin-left: 8px;
}

#new_user .input.user_remember_me label{
width: 100%;
}
#new_user .input.user_remember_me input.boolean{
margin-left: 0;
width: 15px;
}

#new_user .input span.error{
position: absolute;
top: 18px;
left: 70px;
font-size: 0.7em;
font-weight: bold;
}